* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #000;
    background-image: url(../assets/images/dontstartnow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex-grow: 1;
}

h3,
div,
img {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    min-width: 20rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-container,
.footer-container {
    width: 20rem;
    display: flex;
    margin: 1rem auto;
}

.player-container {
    margin: 5rem auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.song-image {
    width: 20rem;
    height: auto;
}

.info {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
    align-items: center;
    padding: 1rem;
}

.sound {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.play-img {
    width: 2rem;
    height: auto;
}

.change {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
}

.play,
.pause {
    width: 3rem;
}

.pause {
    display: none;
}

.description {
    width: 100%;
    overflow: hidden;
}

.singer,
.song {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.info-slider,
.sound {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.slider {
    width: 13rem;
    height: 0.5rem;
    background-color: #000;
}

.footer-rslogo,
.footer-git,
.footer-year {
    width: 3rem;
    height: 3rem;
}

.footer-year {
    border-radius: 50%;
    background-color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img {
    border-radius: 50%;
    object-fit: unset;
}
